<!DOCTYPE html>
<html lang="en">
<!-- 
    ctrl + a 전체선택
    ctrl + k + f 자동정렬
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            width: 100px;
            height: 40px;
            color :white;
        }
        .high {
            background-color: red;
        }
        .low {
            background-color: black;
        }
    </style>
</head>

<body>
    <div class="{{status}}">{{pin}}</div>
    <a href="/22/high">22켜기</a>
    <a href="/22/low">22끄기</a>
</body>

</html>